<div class="container">
    <h1>hahax</h1>
    <hr/>
    <%= link_to("hahahahaha",'#', class: "btn btn-success btn-lg")%>

    <h1>o;w;kefj;aosd;,v.mna;lsidv,. asdv</h1>

    <h4>l;sadfjolsdkfjo</h4>

    <%= image_tag("http://olmrxx9ks.bkt.clouddn.com/blog/2017-03-29-Snip20170329_56.png",class: "thumbnail")%>
</div>
