
<body>
  <div class="title">
  <h3>PLASM.it - 2017</h3>
  <h1>Diastar&Errepi Equibhub</h1>
  <h2>亚瑱嘉品固定资产管理</h2>
</div>
<div class="more-pens">
  <%= link_to("马上进入", '#', class: "btn btn-danger  white-mode")%>
</div>

    <script src="index.js"></script>

</body>
