<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="title">
  <h3>PLASM.it - 2017</h3>
  <h1 style="font-size: 40px;">Diastar&Errepi Equibhub</h1>
  <h2>亚瑱嘉品固定资产管理</h2>
</div>
<div class="more-pens">
  <%= link_to("马上进入", equibs_path, class: "btn btn-danger  white-mode")%>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.4.2/pixi.min.js'></script>

  <script src="index.js"></script>


</body>
